.padding-genres {
  padding: 64px 16px 32px 32px;
}

.padding-others {
  padding-top: 8px;
}

.text-browse {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.cards-container {
  display: grid;
  --column-count: 8;
  column-width: 180px;
  gap: 24px;
  grid-auto-rows: auto;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
}

.cards-container figure {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 770px) {
  .cards-container {
    --column-count: 2;
  }
}

@media only screen and (min-width: 770px) and (max-width: 970px) {
  .cards-container {
    --column-count: 3;
  }
}

@media only screen and (min-width: 970px) and (max-width: 1300px) {
  .cards-container {
    --column-count: 4;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .cards-container {
    --column-count: 5;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
  .cards-container {
    --column-count: 6;
  }
}

@media only screen and (min-width: 1700px) and (max-width: 1900px) {
  .cards-container {
    --column-count: 7;
  }
}
