.grid {
  --column-count: 8;
  grid-gap: 24px;
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  margin-top: 16px;
}

.top-result {
  grid-column: 1/3;
}

.songs {
  grid-column: 3/-1;
}

.top-result > div:first-child {
  font-size: 24px;
  letter-spacing: -1px;
  margin-bottom: 16px;
}

.card {
  background-color: #181818;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
}

.card > .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card > img {
  height: 92px;
  width: 92px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.card > div:nth-child(2) {
  font-size: 32px;
  color: white;
  margin-bottom: 8px;
}

.meta-link {
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 300;
}

.meta-link span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.meta-link span:not(:last-child):after {
  content: ",";
  padding-right: 4px;
}

.chip {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: white;
  border-radius: 48px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
}

.button-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1ed760;
  border-radius: 48px;
  position: absolute;
  right: 24px;
  bottom: 24px;
  transform: translateY(8px);
  transition: all 0.3s ease;
  opacity: 0;
  box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
}

.button-wrapper:hover {
  transform: scale(1.1) !important;
}

.button-wrapper:active {
  transform: scale(0.95) !important;
}

.card:hover .button-wrapper {
  opacity: 1;
  transform: translateY(0px);
  cursor: pointer;
}

.songs > div:first-child {
  font-size: 24px;
  margin-bottom: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  justify-content: space-between;
}

.item > div:last-child {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: 400;
  margin-right: 36px;
}

.icon {
  position: absolute;
  height: 16px;
  width: 16px;
  left: 20px;
  top: 20px;
  display: none;
}

.meta {
  display: flex;
  flex-direction: row;
}

.meta-infos {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.meta-infos > div:first-child {
  font-size: 16px;
}

.meta-infos-artists {
  display: flex;
}

.meta-infos-artists a {
  font-size: 14px;
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 400;
}

.meta-infos-artists a:hover {
  text-decoration: underline;
}

.meta-infos-artists a:not(:last-child):after {
  content: ", ";
  padding-right: 2px;
}

.item img {
  width: 40px;
  height: 40px;
}

.item:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.item:hover .artist {
  color: white;
}

.item:hover .icon {
  display: flex;
}

.header {
  font-size: 24px;
  color: white;
  margin: 32px 0;
  letter-spacing: -1px;
}

.tiles {
  --column-count: 7;
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  grid-auto-rows: 0;
  grid-template-rows: 1fr;
  overflow-y: hidden;
  grid-gap: 24px;
}

@media only screen and (max-width: 770px) {
  .grid {
    --column-count: 2;
  }
}

@media only screen and (min-width: 770px) and (max-width: 970px) {
  .grid {
    --column-count: 3;
  }
}

@media only screen and (min-width: 970px) and (max-width: 1300px) {
  .grid {
    --column-count: 4;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .grid {
    --column-count: 5;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
  .grid {
    --column-count: 6;
  }
}

@media only screen and (min-width: 1700px) and (max-width: 1900px) {
  .grid {
    --column-count: 7;
  }
}
