.table-header {
  font-size: 12px;
  color: #b3b3b3;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(
      120px,
      1fr
    );
  height: 36px;
  gap: 16px;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 24px;
  position: sticky;
  top: 112px;
  background: #121212;
}

.table-header > div:last-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 32px;
}

.item {
  display: grid;
  align-items: center;
  grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(
      120px,
      1fr
    );
  gap: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  height: 56px;
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  padding: 0 16px;
  font-family: "Circular Std Book";
}

.item > div:last-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 32px;
}

.item:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: white;
}

.item:hover .index-number,
.index-icon {
  display: none;
}

.item:hover .index-icon,
.index-number {
  display: flex;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-number {
  font-size: 16px;
}

.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.meta img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.song-name {
  font-size: 16px;
  margin-bottom: 8px;
  color: white;
}

.duration {
  color: #a7a7a7 !important;
}

.duration {
  display: flex;
  justify-content: center;
}

.song-artists a {
  text-decoration: none;
  color: #b3b3b3;
}

.song-artists a:hover {
  text-decoration: underline;
  color: white;
}

.song-artists > a:not(:last-child):after {
  content: ",";
  margin-right: 4px;
}

.song-album {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
