.table {
  position: relative;
  top: -64px;
}

.table-header {
  font-size: 12px;
  color: #b3b3b3;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 16px;
  margin: 0 32px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
  height: 36px;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.table-header > span:last-child {
  display: flex;
  justify-content: center;
}

.item {
  display: grid;
  align-items: center;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
  gap: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  height: 56px;
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  margin: 0 32px;
  padding: 0 16px;
  font-family: "Circular Std Book";
}

.item:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: white;
}

.item:hover .song-link {
  color: white;
}

.item:hover .index-number,
.index-icon {
  display: none;
}

.item:hover .index-icon,
.index-number {
  display: flex;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-number {
  font-size: 16px;
}

.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.meta img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.song-name {
  font-size: 16px;
  margin-bottom: 8px;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 29vw;
  overflow: hidden;
}

.date,
.duration {
  color: #a7a7a7 !important;
}

.duration {
  display: flex;
  justify-content: center;
}

.song-link {
  color: #a7a7a7;
  text-decoration: none;
}

.song-link:hover {
  text-decoration: underline;
}
