.navbar {
    grid-area: body;
    max-height: 64px;
    min-height: 64px;
    min-width: 0;
    z-index: 2;
    background-color: rgba(0,0,0,.5);
    position: sticky;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    transition: all .31s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 32px
}

.navbar-left-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}