.container {
  display: grid;
  grid-template-areas:
    "side-bar body"
    "player-bar player-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
  isolation: isolate;
  z-index: 0;
}
