.sidebar {
    grid-area: side-bar;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
    width: 241px;
    z-index: 3;
    padding-top: 24px;
    font-weight: 400;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.navigation {
    padding: 0px 24px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.playlists {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 300;
}

.playlists a {
    height: 32px;
    line-height: 32px;
    cursor: default;
    opacity: .7;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.playlists a:hover {
    opacity: 1;
}

.playlists>div:first-child {
    height: 10px;
    border-top: 1px solid #282828;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    color: #b3b3b3;
    font-size: 0.6875rem;
    font-weight: 400;
}

.footer span {
    height: 30px;
}

.footer span:hover {
    text-decoration: underline;
    cursor: pointer;
}